Repository fossabot/mahjong: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc.json:

{
  "*.{json,yml,md}": "prettier --write",
  "*.{tsx,ts,js}": ["prettier --write", "eslint --fix --cache"]
}

build: add only format check
  package.json
Due: prettier --write

ci: add circleci config
  .circleci/config.yml
Due: prettier --write

chore: change code formatting rules
  .editorconfig
  .prettierignore
  .prettierrc
Due: none

style: run formatter
  apps/docs/app/page.tsx
  apps/web/app/page.tsx
  packages/ui/Button.tsx
  packages/ui/Header.tsx
  packages/ui/index.tsx
  packages/ui/turbo/generators/config.ts
Due: prettier --write, eslint --fix --cache

chore: add vscode recommend extensions
  .vscode/extensions.json
Due: prettier --write

chore: add shared vscode settings
  .vscode/settings.json
Due: prettier --write

build: make it possible to format all files
  package.json
Due: prettier --write

style: run formatter
  .eslintrc.js
  .prettierignore
  apps/docs/.eslintrc.js
  apps/docs/next.config.js
  apps/web/.eslintrc.js
  apps/web/next.config.js
  packages/eslint-config-custom/index.js
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix --cache

build: enforce specified engines
  .npmrc
  package.json
Due: prettier --write

docs: present license
  LICENSE
Due: none

build: specify pnpm v8.6.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: sort fields in package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
Due: prettier --write

build: make it auto to sort package.json in pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: make it auto to sort package.json on save
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore(eslint-config-custom): rename directory
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore(eslint-config): rename package name with scope
  .eslintrc.js
  apps/docs/.eslintrc.js
  apps/docs/package.json
  apps/web/.eslintrc.js
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore(tsconfig): rename package name with scope
  apps/docs/package.json
  apps/docs/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

build(mahjong): create app by nest cli
  apps/mahjong/.eslintrc.js
  apps/mahjong/.prettierrc
  apps/mahjong/README.md
  apps/mahjong/nest-cli.json
  apps/mahjong/package.json
  apps/mahjong/src/app.controller.spec.ts
  apps/mahjong/src/app.controller.ts
  apps/mahjong/src/app.module.ts
  apps/mahjong/src/app.service.ts
  apps/mahjong/src/main.ts
  apps/mahjong/test/app.e2e-spec.ts
  apps/mahjong/test/jest-e2e.json
  apps/mahjong/tsconfig.build.json
  apps/mahjong/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore: ignore compiled outputs
  .gitignore
Due: none

build: add integrated test command
  package.json
  turbo.json
Due: prettier --write

build(mahjong): delegate formatting to project root
  apps/mahjong/.prettierrc
  apps/mahjong/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add test job
  .circleci/config.yml
Due: prettier --write

ci: use reusable executor
  .circleci/config.yml
Due: prettier --write

ci: use reusable command that prepare dependencies
  .circleci/config.yml
Due: prettier --write

chore: make it reusable eslint config for nest app
  apps/mahjong/.eslintrc.js
  apps/mahjong/package.json
  packages/eslint-config/nest.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

style(mahjong): sort eslint config options
  apps/mahjong/.eslintrc.js
Due: prettier --write, eslint --fix --cache

chore: update eslint to v8.41.0
  apps/mahjong/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: complement eslint config types
  .eslintrc.js
  apps/docs/.eslintrc.js
  apps/mahjong/.eslintrc.js
  apps/web/.eslintrc.js
  packages/eslint-config/index.js
  packages/eslint-config/nest.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

ci: setup codeql
  .github/workflows/codeql.yml
Due: prettier --write

chore(mahjong): separate jest config from package.json
  apps/mahjong/jest.config.ts
  apps/mahjong/package.json
Due: prettier --write, eslint --fix --cache

build(mahjong): make it possible to generate unit test report
  apps/mahjong/jest.config.ts
  apps/mahjong/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore: ignore report files in git
  .gitignore
  .prettierignore
Due: none

ci: make it possible to store test results
  .circleci/config.yml
Due: prettier --write

build: remove unneeded initial app
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/tsconfig.json
Due: prettier --write, eslint --fix --cache

build(mahjong): rename task to using project
  apps/mahjong/package.json
Due: prettier --write

fix(mahjong): change using port
  apps/mahjong/src/main.ts
Due: prettier --write, eslint --fix --cache

feat(mahjong): make it variable to set port
  apps/mahjong/src/main.ts
Due: prettier --write, eslint --fix --cache

style(mahjong): separate code blocks
  apps/mahjong/src/main.ts
Due: prettier --write, eslint --fix --cache

chore(eslint-config): remove unneeded options
  packages/eslint-config/nest.js
Due: prettier --write, eslint --fix --cache

style(eslint-config): sort options
  packages/eslint-config/index.js
  packages/eslint-config/nest.js
Due: prettier --write, eslint --fix --cache
